---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Galleri from "../components/Galleri.astro";
import Button from "../components/Button.astro";
import Testimonials from "../components/Testimonials.astro";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
	  <!-- <link rel="stylesheet" href="src/styles/index.css" /> -->
    <title>Royal Escapes</title>
    <meta name="description" content="Royal Escapes er et nyt escape room i hjertet af København. Med uhyggelige gåder og skumle mosterier, og vi skal nok sørge for du får en oplevelse du aldrig vil glemme."/>
  </head>
  <Header />
  <body>
    <video id="myVideo" loop autoplay  >
      <source src="/video.m4v" type="video/mp4" />
    </video>
    <h1>DO YOU DARE 2<br> TO TRY?</h1>
    <p class="intro">
      Why escape each other, when you can escape together. Escape room are an
      unique way of bonding with another person, in a scary and time pressuring
      way. You have to experience it, to believe it.
    </p>
    <p class="text1">Either way, you will have an unforgettable time at Royal Escapes</p>
    <Button/>
	  <Galleri/>
    <p class="text2">Hos Royal Escapes kan du tage din partner med og få en uhyggelig oplevelse sammen. I vil blive lukket ind i et rum sammen og dermed ikke have nogen anden udvej, end at arbejde sammen. Fik du et koldt pust i nakken? Måske vil I rykke jer lidt tættere sammen. Om formår at klare det eller ej, så vil i have gjort det sammen og set helt nye sider af jer selv. Men hvem ved om i kommer ud derfra igen..?</p>
    <p class="text3">Kom og besøg et af vores tre rum i Royal Escape lige i hjertet af København, og bliv udfordret med vores mystiske gåder og bliv en del af vores royale univers. Der er et rum for enhver!</p>
    <Testimonials/>
    <Footer/>
  </body>
</html>

<style>
  video {
    display: block;
    margin: auto;
	  width: 100%;
	  height: 100%;
  }

  h1 {
	position: absolute;
	top: 20%;
	left: 5%;
  }

  .intro {
    margin-top: 150px;
    font-size: 30px;
    text-align: center;
  }

  .text2 {
    font-size: 20px;
  }

  .text3 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 150px;
  }
</style>


