---

---

<section class="button">
    <img src="/public/heart.svg" alt="hjerte">
    <img src="/public/heart.svg" alt="hjerte">
    <a href="">Escape Rooms</a>
    <img src="/public/heart.svg" alt="hjerte">
    <img src="/public/heart.svg" alt="hjerte">
</section>

<style>
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }

    img {
        width: 3%;
    }

    a {
        margin-top: 6px;
        text-decoration: none;
        color: white;
    }
</style>