---

---
<footer>
    <div class="social-icons">
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="mailto:info@royalescapes.dk">Mail</a>
    </div>
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
    <lottie-player
      src="lottiefiles/slowlogo.json"
      background="transparent"
      speed="1"
      style="width: 300px; height: 300px;"
      loop
      controls
      autoplay></lottie-player>
</footer>

<style>
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #1da1f2;
}

</style>

