---

---
<footer>
    <div class="social-icons">
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="mailto:info@royalescapes.dk">Mail</a>
    </div>
    <p>Congratulations on escaping! You have successfully solved all the puzzles and cracked the codes to escape this room. We hope you had an unforgettable experience and enjoyed your time with us. Please share your experience with your friends and family and come back to try our other rooms soon! Thank you for choosing our escape room.</p>
</footer>

<style>
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

footer p {
  margin: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #1da1f2;
}

</style>

