---

---
<div class="galleri">
    <img class="pic1" src="/pic1.jpg" alt="billede1">
    <img src="/pic2.jpg" alt="billede2">
    <img src="/pic3.jpg" alt="billede3">
    <img src="/pic4.jpg" alt="billede4">
</div>

<style>
    img {
        width: 22%;
        padding-right: 19px;
        padding-left: 19px;
        margin-bottom: 150px;
        margin-top: 150px;
    }

</style>